#output-wrapper {
    border-radius: 5px;
    /*background-color: rgba(240, 20, 10, 0.3);*/
    background-color: rgb(255,255 255);
   
}
canvas {
     border: solid thin rgb(0, 0, 0);
}
#image_preview {
    width: 70%;
    height: auto;
    display:block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
input {
    margin-top: 15px;
}