@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Best OCR AI yet to come</h1>
    <p class="lead">It simply matches text with the things you write regularly on paper. But not in naive way - it's artificially intelligent. Be aware of it...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Algorithm</h2>
        <p>
            This exciting project uses Fast Artificial Neural Network (FANN) algorithm to provide attractive AI properties for detecting human-written letters.
        </p>
        <p><a class="btn btn-default" href="http://leenissen.dk/fann/wp/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>UX done right</h2>
        <p>As simple as it can be - log in, then upload your image with handwritten letters. The rest will be done for you in no time. Let your mind relax. Let your thoughts drift. Imagine somewhere calm. Imagine somewhere safe.</p>
    </div>
    <div class="col-md-4">
        <h2>Advanced features</h2>
        <p>As it uses Artificial Intelligence for basis, this program learns how to detect more letters properly. Just supply it with enough learning materials.</p>
        <p>@Html.ActionLink("Go to OCR", "About", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>